{% load static %}
{% block content %}
<html op="item">
  <head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Ask HN: {{submit.title}} | Hacker News</title>
  </head>
  <body>
    <center>
      <table id="hnmain" width="85%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f6ef">
  <tbody>
    <tr>
      <td bgcolor="#ff6600">
        <table style="padding:2px" width="100%" cellspacing="0" cellpadding="0" border="0">
          <tbody>
            <tr>
              <td style="width:18px;padding-right:4px">
                <a href="/">
                  <img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px #ffffff solid">
                </a>
              </td>
              <td style="line-height:12pt; height:10px;">
                <span class="pagetop">
                  <b class="hnname"><a href="/">Hacker News</a></b>
                  <a href="/new">new</a> |
                  <a href="/comments">comments</a> |
                  <a href="/thread">threads</a> |
                  <a href="/ask">ask</a> |
                  <a href="/submit">submit</a>
                </span>
              </td>
              <td style="text-align:right;padding-right:4px;">
                {% if user.username %}
                <a href="/user/{{user.id}}">{{user.username}}</a> |
                <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">login</a>
                {% endif %}
                <span class="pagetop">
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="pagespace" title="{{submit.title}}" style="height:10px"></tr>
    <tr>
      <td>
        <table class="fatitem" border="0">
        <tbody>
          <tr class="athing" id="22747669">
            <td class="title" valign="top" align="right">
              <span class="rank"></span>
            </td>
            <td class="votelinks" valign="top">
              <center>
                <a href="/like/?pk={{submit.id}}&path=/item/{{submit.id}}" id="up_{{submit.id}}">
                <div class="votearrow" title="upvote"></div>
              </a>
            </center>
          </td>
          <td class="title">
            {% if submit.text %}
            <a href="/item/{{submit.id}}" class="storylink">Ask HN: {{submit.title}}</a>
            {% else %}
            <a href="{{submit.url}}" class="storylink">{{submit.title}}</a>
            <span class="sitebit comhead"> (<a href="{{submit.path}}"><a href="{{submit.url}}">{{submit.path}}</a>)</span>

          </td>
          {% endif %}
        </tr>
        <tr>
          <td colspan="2"></td>
          <td class="subtext">
          <span class="score" "{{submit.likes}}">{{submit.likes}}</span> likes by
          <a href="/user/{{submit.author.id}}" class="hnuser">{{submit.author}}</a>
          <span class="age"><a href="/item/{{submit.id}}"> {{submit.date_added | timesince }} ago </a></span> |
          <span class="age"> <a href="/dislike/?pk={{submit.id}}&path=/item/{{submit.id}}"> unvote </a></span>
          <span class="age"> <a href="/like/?pk={{submit.id}}&path=/item/{{submit.id}}"> vote </a></span>

        </td>
      </tr>
      <tr style="height:2px"></tr>
      <tr>
        <td colspan="2"></td>
        <td>{{submit.text}}</td>
      </tr>
        <tr style="height:10px"></tr>
        <tr><td colspan="2"></td>
          <td>
          <form method="post" action="">
            {% csrf_token %}
            {{form.as_p}}
            <br>
            <input type="submit" value="add comment">
          </form>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<tr>
<td>
{% if listacomments %}
  {% for comment in listacomments %}
           {% with comment.children as comments %}
           <tbody>
             <tr class="athinf comtr ">
               <td>
               <table border="0">
                 <tbody>

                   <tr>
                     <td class="ind" style="width:{{comment.nivel}}px">

                     </td>
                     <td class="votelinks" valign="top">
                       <center>
                         <a href="/llikecomment/?pk={{comment.id}}&path=/item/{{submit.id}}" id="up_{{comment.id}}">
                           <div class="votearrow" title="upvote"></div>
                         </a>
                       </center>
                     </td>
                     <td class="default">
                       <div style="margin-top:2px; margin-bottom:-10px;">
                         <span class="comhead">
                           <a href="/user/{{comment.author.id}}" class="hnuser">{{comment.author}}</a>
                           <span class="age"><a href="">{{comment.date_added | timesince }} ago</a></span> |
                           <span class="age"> <a href="/ldislikecomment/?pk={{comment.id}}&path=/item/{{submit.id}}"> unvote </a></span> |
                           <span class="age"> <a href="/llikecomment/?pk={{comment.id}}&path=/item/{{submit.id}}"> vote </a></span>

                           <span id="unv_22753553"></span>
                         </span>
                       </div>
                       <br>
                       <div class="comment">
                         <span class="commtext c00">{{comment.text}}</span>
                           <div class="reply">
                             <p><font size="1">
                               <u><a href="/reply/{{comment.id}}">reply</a></u>
                             </font>
                           </p>
                           </div>
                       </div>
                     </td>
                   </tr>
                 </tbody>
               </table>
             </td>
             </tr>
           </tbody>
           {% endwith %}
{%endfor%}
{% else %}

<p>There are no comments in the submit.</p>
{% endif %}
</tr>
</tr>
<tr>
  <td>
    <img src="s.gif" width="0" height="10">
    <table width="100%" cellspacing="0" cellpadding="1">
      <tbody>
        <tr>
          <td bgcolor="#ff6600"></td>
        </tr>
      </tbody>
    </table>
    <br>
  </td>
  </tr>
</tbody>
</table>
</center>
</body>
</html>
{% endblock %}
