{% load static %}
{% block content %}
<html>
 <head>
  <meta name="referrer" content="origin">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="rss">
        <title>Hacker News</title>
      </head>
      <body>
        <center>
          <table id="hnmain" width="85%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f6ef">
        <tbody>
          <tr>
            <td bgcolor="#ff6600">
              <table style="padding:2px" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  <tr>
                    <td style="width:18px;padding-right:4px">
                      <a href="/">
                        <img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px #ffffff solid">
                      </a>
                    </td>
                    <td style="line-height:12pt; height:10px;">
                    <span class="pagetop">
                      <b class="hnname">
                        <a href="/">Hacker News</a>
                      </b>
                      <a href="/new">new</a> |
                      <a href="/comments">comments</a> |
                      <a href="/thread">threads</a> |
                      <a href="/ask">ask</a> |
                      <a href="/submit">submit</a>
                    </span>
                  </td>

                  <td style="text-align:right;padding-right:4px;">
                    {% if user.username %}
                    <a href="/user/{{user.id}}">{{user.username}}</a> |
                    <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">login</a>
                    {% endif %}
                    <span class="pagetop">
                    </span>
                  </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr id="pagespace" title="" style="height:10px"></tr>
      <tr>
        <td>
          <table width="100%" cellspacing="0" cellpadding="1"><tbody>
            <tr>
              <td bgcolor="#ff6600"></td>
            </tr>
            <tr style="height:10px"></tr>
            <tr>
              <td>
                <table class="itemlist" cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                {% if listacom %}
                {% for comment in listacom %}
                <tr>
                <td class="votelinks" valign="top">
                  <center>
                    <a href="/llikecomment/?pk={{comment.id}}&path=/comments" id="up_{{comment.id}}">
                      <div class="votearrow" title="upvote"></div>
                    </a>
                  </center>
                </td>
                <td class="default">
                  <div style="margin-top:2px; margin-bottom:-10px;">
                    <span class="comhead">
                      <a href="/user/{{comment.author.id}}" class="hnuser">{{comment.author}}</a>
                      <span class="age"><a href="/reply/{{comment.id}}">{{comment.date_added | timesince }} ago</a></span> |
                      <span class="age"> <a href="/ldislikecomment/?pk={{comment.id}}&path=/comments"> unvote </a></span> |
                      <span class="age"> <a href="/llikecomment/?pk={{comment.id}}&path=/comments"> vote </a></span>

                    </span>
                  </div>
                  <br>
                  <div class="comment">
                    <span class="commtext c00">{{comment.text}}</span>
                      <div class="reply">
                        <p><font size="1">
                          <u><a href="/reply/{{comment.id}}">reply</a></u>
                        </font>
                      </p>
                      </div>
                      <br>
                  </div>
                </tr>
                  {%endfor%}

                </td>
                {%endif%}
      </tbody>
    </table>
          </td>
        </tr>
      </tbody>
    </table>
  </center>
</body>
</html>
{%endblock%}
