{% load static %}
{% block content %}
<html op="item">
  <head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Hacker News</title>
  </head>
  <body>
    <center>
      <table id="hnmain" width="85%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f6ef">
  <tbody>
    <tr>
      <td bgcolor="#ff6600">
        <table style="padding:2px" width="100%" cellspacing="0" cellpadding="0" border="0">
          <tbody>
            <tr>
              <td style="width:18px;padding-right:4px">
                <a href="/">
                  <img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px #ffffff solid">
                </a>
              </td>
              <td style="line-height:12pt; height:10px;">
                <span class="pagetop">
                  <b class="hnname"><a href="/">Hacker News</a></b>
                  <a href="/new">new</a> |
                  <a href="/comments">comments</a> |
                  <a href="/thread">threads</a> |
                  <a href="/ask">ask</a> |
                  <a href="/submit">submit</a>
                </span>
              </td>
              <td style="text-align:right;padding-right:4px;">
                {% if user.username %}
                <a href="/user/{{user.id}}">{{user.username}}</a> |
                <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">login</a>
                {% endif %}
                <span class="pagetop">
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr id="pagespace" title="{{submit.title}}" style="height:10px"></tr>
    <tr>
      <td>
        <table class="fatitem" border="0">
        <tbody>
          <tr class="athing" id="22747669">
            <td class="title" valign="top" align="right">
              <span class="rank"></span>
            </td>
            <td class="votelinks" valign="top">
              <center>
                <a href="/like/?pk={{submit.id}}&path=/item/{{submit.id}}" id="up_{{submit.id}}">
                <div class="votearrow" title="upvote"></div>
              </a>
            </center>
          </td>
          <td class="subtext">
            <span class="age"><a href="/item/{{comment.submit.id}}"> {{comment.date_added | timesince }} ago </a></span> |
            <a href="/item/{{comment.submit.id}}" class="storylink">{{comment.submit}}</a>
            <span><a href="/dislike/?pk={{submit.id}}&path=/item/{{submit.id}}" id="up_{{submit.id}}"> unvote </span>
              <span><a href="/like/?pk={{submit.id}}&path=/item/{{submit.id}}" id="up_{{submit.id}}"> vote </span>

          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td class="text">
          <span> {{comment.text}}</span>
        </td>
      </tr>
        <tr style="height:10px"></tr>
        <tr><td colspan="2"></td>
          <td>
          <form method="post" action="">
            {% csrf_token %}
            {{form.as_p}}
            <br>
            <input type="submit" value="add reply">
          </form>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<tr>
  <td>
    <img src="s.gif" width="0" height="10">
    <table width="100%" cellspacing="0" cellpadding="1">
      <tbody>
        <tr>
          <td bgcolor="#ff6600"></td>
        </tr>
      </tbody>
    </table>
    <br>
  </td>
  </tr>
</tbody>
</table>
</center>
</body>
</html>
{% endblock %}
