{% load static %}

{%if not user.username %}
 You have to be logged.
 <br>
 <br>
 <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}"><b>LOGIN</b></a>

{%else%}
<head>
  <meta name="referrer" content="origin">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>Submit | Hacker News</title>
</head>
<body>
  <center>
    <table id="hnmain" width="85%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f6ef">
      <tbody>
        <tr>
          <td bgcolor="#ff6600">
            <table style="padding:2px" width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td style="width:18px;padding-right:4px">
                    <a href="/">
                      <img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px #ffffff solid">
                    </a>
                  </td>
                  <td style="line-height:12pt; height:10px;">
                    <span class="pagetop">
                      <b>Submit</b>
                    </span>
                  </td>
                  <td style="text-align:right;padding-right:4px;">
                    {% if user.username %}
                    <a href="/user/{{user.id}}">{{user.username}}</a> |
                    <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">login</a>
                    {% endif %}
                    <span class="pagetop">
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr style="height:10px">
        </tr>
        <tr>
          <td>
            <form method="post" action="">
              {% csrf_token %}
              {{form.as_p}}
              <input type="submit" value="submit">

              </form>
                  <table border="0">
                  <tbody>
                      <td>
                      </td>
                    </tr>
                    <tr>
                      <td>
                      </td>
                      <td>
                      </td>
                    </tr>
                    <tr style="height:20px"></tr>
                    <tr>
                      <td>
                      </td>
                      <td>
                        Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.<br><br>
                        You can also submit via bookmarklet.
                      </td>
                    </tr>
                  </tbody>
                </table>
    </center>
  </body>
{%endif%}
