{% load static %}
{% block content %}
<html>
 <head>
  <meta name="referrer" content="origin">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="rss">
        <title>Profile: {{user.username}} | Hacker News</title>
      </head>
      <body>
        <center>
          <table id="hnmain" width="85%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f6ef">
        <tbody>
          <tr>
            <td bgcolor="#ff6600">
              <table style="padding:2px" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  <tr>
                    <td style="width:18px;padding-right:4px">
                      <a href="/">
                        <img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px #ffffff solid">
                      </a>
                    </td>
                    <td style="line-height:12pt; height:10px;">
                    <span class="pagetop">
                      <b class="hnname">
                        <a href="/">Hacker News</a>
                      </b>
                      <a href="/new">new</a> |
                      <a href="/comments">comments</a> |
                      <a href="/thread">threads</a> |
                      <a href="/ask">ask</a> |
                      <a href="/submit">submit</a>
                    </span>
                  </td>

                  <td style="text-align:right;padding-right:4px;">
                    {% if user.username %}
                    <a href="/user/{{user.id}}">{{user.username}}</a> |
                    <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">login</a>
                    {% endif %}
                    <span class="pagetop">
                    </span>
                  </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr id="pagespace" title="Profile: {{user.username}}" style="height:10px"></tr>
      <tr>
        <td>
          <table border="0">
            <tbody>
              <tr class="athing">
                <td valign="top">user:</td>
                <td timestamp="1429007118"><a href="/user/{{useract.user.id}}" class="hnuser">{{useract.user.username}}</a>
                </td>
              </tr>
              <tr>
                <td valign="top">created:</td>
                <td>
                  <a>{{useract.user.date_joined}}</a>
                </td>
              </tr>
              <tr>
                <td>email: </td>
                <td>{{useract.user.email}}</td>
              </tr>
                {%if useract.user.username == user.username %}
                <tr>
                  <td valign="top">about:</td>
                  <td>
                    {{useract.about}}
                  </td>
                </tr>
                <tr>
                <td valign="top"></td>
                <td>
                  <form method="post" action="" >
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="update">
                  </form>
                </td>
              </tr>
        {%else%}
        <tr>
          <td valign="top">about:</td>
          <td>
            {{useract.about}}
          </td>
          </tr>

        {%endif%}
        <tr>
          <td>
          </td>
          <td>
            <a href="/user/submits/{{useract.user.id}}"><u>submissions</u></a>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <a href="/user/comments/{{useract.user.id}}"><u>comments</u></a>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
        <a href="/user/likes/{{useract.user.id}}"><u>favorites</u></a>
    </td>
  </tr>
      </tbody>
    </table>
    <br>
    <br>
  </td>
  </tr>
      </tbody>
    </table>
  </center>
  <script type="text/javascript" src="hn.js?EdFA4gW5lET4IyyrLeIo"></script>
</body>

{%endblock%}
